<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Statistics for "{{data['word']}}"</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style type="text/css">
        body {
            font-family: 'Arial', 'Helvetica', sans-serif;
        }
        
        ul.word-grid li {
            float: left;
            padding: 5pt;
            list-style: none;
        }
        
        ul.word-grid {
            clear: both;
            float: left;
            margin-top: 0;
            padding-top: 0;
        }
        
        h2 {
            clear: both;
        }
    </style>
</head>

<body>
    <div class="w3-container">
        <header class="w3-blue">
            <h1 class="w3-center">{{data['word']}}</h1>
            <h3 class="w3-center"><a href="https://www.urbandictionary.com/define.php?term={{data['word']}}" target="_blank" rel="noopener">Original Definition</a> at Urban Dictionary</h3>
        </header>

        <h2>Top 10 Words</h2>
        <ul>
            {% for word in data['top_10_words'] %}
            <li>"{{word[0]}}" is found {{word[1]}} time/s through all the definitions. It's {{word[2]}} interesting.</li>
            {% endfor %}
        </ul>
        <h2>Top 10 Sentences</h2>
        <ul>
            {% for sentence in data['top_10_sentences'] %}
            <li>"<em>{{sentence[0]}}</em>" contains <strong>{{sentence[1]}}</strong> of the top 10 words. It has an importance of <strong>{{sentence[2]}}</strong></li>
            {% endfor %}
        </ul>

        <h2>Long Words</h2>
        <ul class="word-grid">
            {% for word in data['long'] %}
            <li>{{word}}</li>
            {% endfor %}
        </ul>

        <h2>Short Words</h2>
        <ul class="word-grid">
            {% for word in data['short'] %}
            <li>{{word}}</li>
            {% endfor %}
        </ul>

        <h2>Naughtiness</h2>
        <p>Out of the {{ data['def_count'] }} definition/s for "{{ data['word'] }}", the following {{ data['naughty_defs']|length }} are naughty...</p>
        <ul>
            {% for definition in data['naughty_defs'] %}
            <li>{{definition}}</li>
            {% endfor %}
        </ul>
        <p>Out of the {{ data['def_count'] }} definition/s for "{{ data['word'] }}", the following {{ data['clean_defs']|length }} are clean...</p>
        <ul>
            {% for definition in data['clean_defs'] %}
            <li>{{definition}}</li>
            {% endfor %}
        </ul>
    </div>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11617134;
var sc_invisible=0;
var sc_security="9d5f5f7d";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - StatCounter" href="http://statcounter.com/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11617134/0/9d5f5f7d/0/" alt="Web
Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
</body>